<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre</h2>
            <h3 class="section-subheading text-muted">Conheça mais sobre nossa história.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019</h4>
                        <h4 class="subheading">Gestão administrativa de cemitério</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Em 2019 fizemos a criação de um sistema de gestão administrativa para um
                            cemitério de nossa cidade, onde haviam distribuição de lotes, pessoas que haviam comprado
                            esses lotes com emissão de carteirinha de sócio, criação de pessoas que haviam falecido com
                            emissão de certificado de óbito, com total gerenciamento pelo sistema!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020-2024</h4>
                        <h4 class="subheading">Foco em projetos Front-end</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Durante esse período Lucas não fez tantos projetos freelancers por conta
                            de projetos de empresas onde trabalhou, fazendo com que sua experiência fosse aumentada e
                            buscando sempre mostrar mais do seu talento com Front-end!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020-2024</h4>
                        <h4 class="subheading">Foco em projetos Back-end</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Durante esse período Luan não fez tantos projetos freelancers por conta
                            de projetos de empresas onde trabalhou, fazendo com que sua experiência fosse aumentada e
                            buscando sempre mostrar mais do seu talento com Back-end!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2023-2024</h4>
                        <h4 class="subheading">Criação de Agência</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Buscando usar as ideias que tinham, Lucas e Luan decidiram criar sua
                            empresa Digital Nexus Technology, fazendo com que diversos projetos pudessem ser iniciados e estão até então!
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Faça parte
                        <br />
                        da nossa
                        <br />
                        História!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>