<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Serviços</h2>
            <h3 class="section-subheading text-muted">Aqui estão alguns dos serviços que prestamos.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">E-commerce</h4>
                <p class="text-muted">Criamos sistemas de E-commerce para que você alavanque as vendas de sua loja.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Sistema de clinicas</h4>
                <p class="text-muted">criamos sistema gerencial de pacientes para atendimento dos diversos setores de saúde.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Segurança de software</h4>
                <p class="text-muted">Priorizamos no nossos sistemas toda segurança necessária para que não hajam vazamento de dados.</p>
            </div>
        </div>
    </div>
</section>